@model RegisterViewModel

@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Register</title>
	<link rel="stylesheet" href="~/css/style_register.css" />
	<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
	<div class="wrapper">
		<form method="post" action="@Url.Action("Register")">
			<h1>Register</h1>
			<div class="input-box">
				<input type="email" placeholder="E-mail" id="emailInput" name="email" value="@Model.Email" required />
				<i class='bx bx-envelope'></i>
				<button id="checkEmailBtn">Check Email</button>
				<div id="error_msg_email" class="error-message" style="display: none;"></div>
				@if (TempData["emailIsUsed"] != null)
				{
					<div class="alert alert-success">
						@TempData["emailIsUsed"]
					</div>
				}
			</div>
			<div>
			</div>
			<div class="input-box">
				<input type="text" placeholder="Username" id="usernameInput" name="username" value="@Model.Username" required />
				<i class="bx bxs-user"></i>
				<button id="checkUsernameBtn">Check Username</button>
				<div id="error_msg_username" class="error-message" style="display: none;"></div>
				@if (TempData["usernameRepeated"] != null)
				{
					<div class="alert alert-success">
						@TempData["usernameRepeated"]
					</div>
				}
			</div>
			<div>
			</div>
			<div class="input-box">
				<input type="password" placeholder="Password" name="password" required />
				<i class="bx bxs-lock-alt"></i>
			</div>
			<div class="input-box">
				<input type="password" placeholder="Repeat password" name="repeatPassword" required />
				<i class="bx bxs-lock-alt"></i>
				<div id="error_msg_password" class="error-message" style="display: none;"></div>
				@if (TempData["passwordError"] != null)
				{
					<div class="alert alert-success">
						@TempData["passwordError"]
					</div>
				}
			</div>

			<button type="submit" class="btn">Register</button>

			<div class="btn-link">
				<p>Already have an account? <a href="@Url.Action("Index")">Login</a></p>
			</div>
		</form>
	</div>

	<script>
		$(document).ready(function () {
			$('#checkEmailBtn').click(function () {
				var email = $('#emailInput').val();
				$.ajax({
					url: '@Url.Action("CheckEmail")',
					type: 'GET',
					data: { email: email },
					success: function (data) {
						var emsg = 'This email is usable.';
						switch (data) {
							case 1:
								emsg = 'Email format wrong！';
								break;
							case 2:
								emsg = 'This email is already used！';
								break;
						}

						$('#error_msg_email').text(emsg).show();
					},
					error: function () {
						alert('check email error！');
					}
				});
			});
		});

		$(document).ready(function () {
			$('#checkUsernameBtn').click(function () {
				var username = $('#usernameInput').val();
				$.ajax({
					url: '@Url.Action("CheckUsername")',
					type: 'GET',
					data: { username: username },
					success: function (data) {
						var emsg = 'This username is usable.';
						switch(data){
							case 3:
								emsg = 'Username format wrong！';
								break;
							case 4:
								emsg = 'This username is already used！';
								break;
						}

						$('#error_msg_username').text(emsg).show();
					},
					error: function () {
						alert('check email error！');
					}
				});
			});
		});
	</script>
</body>
</html>
